body{
    margin:0;
}

.container{
    background-color: lightgray;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

header, aside, article, footer{
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.row{
    display: flex;
    gap: 10px;
    margin: 10px 0;
    overflow: auto;
}

.col-3{
    flex-basis: calc(30% - 10px * 0.3 - 22px); /* (100% - 10px gap) x 30% - 20px padding - 2px border   */
    height: 160px;
}

.col-7{
    flex-basis: calc(70% - 10px * 0.7 - 22px); /* (100% - 10px gap) x 70% - 20px padding - 2px border   */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container{
    display: flex;
    gap: 10px;
    flex-basis: 100%;
    align-items: flex-end;
}

.image{
    background-color: lightgray;
    padding: 15px 10px;
    flex-basis: calc(100% / 3 - 20px / 3 -  20px); /* 100% / 3 - 20px gap / 3 - 20px padding  */
}