body{
    margin:0;
}

.container{
    background-color: lightgray;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

header, aside, article, footer{
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.row {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 10px;
    margin: 10px 0;
}

.col-7 {
    height: 160px;
    display: grid;

}

.image-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-content: end;
}

.image{
    background-color: lightgray;
    padding: 15px 10px;
}