body{
    margin: 0;
}

.container{
    background-color: lightgray;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

.logo, nav, header, aside, article, footer{
    background-color: gray;
    padding: 10px;
}

.logo{
    text-align: left;
}

nav, header, aside, article, footer{
    text-align: center;
}

nav, header{
    margin: 10px 0 0 0;
}

.row {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 20px;
    margin: 10px 0;
    height: 160px;
}
